.separator {
    position: relative;
    display: block;
    height: 1px;
    background-color: #00a6b6;
    margin: 10px 0;
}

.hoverable-header:hover {
    color: #87CEEB; /* Sky Blue color */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.footer .footer-content .social-links a {
    font-size: 25px !important;
    width: 50px !important;
    height: 50px !important;
}
  